.container {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
}
div {
  display: block;
  unicode-bidi: isolate;
}
body {
  display: block;
  margin: 8px;
}
.container .row {
  text-align: center;
}
h1 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h2 {
  text-align: center;
}
h5 {
  text-align: center;
}
h6 {
  text-align: center;
}
p {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
ul {
  padding: 0;
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

li {
  flex: auto;
}

nav a {
  font-size: 1.2em;
  padding: 0 20px;
}
